@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  font-family: 'Tahoma', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove gradient background from the overall body */
body {
  background: none; /* Remove gradient */
  margin: 0;
  font-family: Arial, sans-serif;
  color: #ffffff; /* White font color for contrast */
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
