@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  padding: 0;
  margin: 0;
}
/* Add spacing below the header */
header {
  margin-bottom: 20px; /* Adjust as needed */
  padding-bottom: 10px; /* Adds extra separation */
}

/* Add spacing above the footer */
footer {
  margin-top: 40px; /* Adjust as needed */
  padding-top: 10px; /* Adds extra separation */
}
